html > body {
    background-color: #fcf7c0;
}

.banner {
    background-image: url("/assets/images/yangi.jpg");

}

.navbar {
    background-color: #bd5c2c;
    margin-top: 2px;
    padding-left: 160px;
    padding: -15px -15px;

}

.navbar-nav > li > a {
    color: #ffffff;
    font-family: monospace;
    font-size: 18px;
}

.navbar-nav > li {
    text-align: center;
}


.navbar .navbar-nav > li > a:hover {
    background-color: #bd5c2c;
    color: #ffc769;
}

.buttons {
    background-color: #e97951;
    color: #fff3e3;
    margin-left: 512px;
    margin-top: 10px;
}

.col-sm-6 {
    margin-top: 40px;
}

.col-sm-6 > h2 {
    font-family: Geneva;
}

.col-sm-6 > img {
    margin-left: -30px;
}


.maxi {
    font-size: 17px;
}
.maxi2{
    margin-right: 6px;
}
.li1 {
    padding-left: 5px ;
}
.button1 {
    background-color: #e77046;
    color: #ffffff;
    width: 25%;
    height: 5%;
    margin-top: 15px;

}
.button2 {
    background-color: #a1d178;
    color: #ffffff;
    width: 25%;
    height: 5%;
    margin-top: 15px;
}
.img-thumbnails {
    width: 250px;
    height: 195px;
}
