@()


@main("Home") {

    <div class="row">
        <div class="col-md-12" style="height: 380px; background-repeat: no-repeat; background-image: url(@routes.Assets.at("images/background.jpg"))">
        </div>
    </div>

    @navbar("list")
    <div class="container">
            <h1 class="text-center">Welcome to Our Flowers Store</h1>
        <div class="maxi">
            <span class="text-success">Suspendisse saipien aente </span>
            <span class="text-danger">venenatist ameet lobortis a consequato ulla. </span>
            <span class="text-success">Quisqu amseem of tincidunt sapien a risus aenen.</span>

            <p>Vestibul ipsum donec euismod justo ac felis.
                Suspendisse sapien ainte venenatist at loboieretis a conesequi.
                Quisque accumsm of tincidunt sapieen a risus aenni isceinig mi id diameusce arcNullae nisl cuerabiturliqu trisetieque tortord llieitudinVestibul ipsum donec euismod justo ac felis.
                Suspendisse saipien ainte venenatist at loboiertsequat of ui.
                Quisque accumsm of tincidunt sapien a risus aenn iscinig mi id diameusce.
            </p>
        </div>
        <button class="buttons"><strong>read more</strong></button>

        <div class="row">
            <div class="col-sm-6">
                <h3>Catigories</h3>
                <div class="row">
                    <div class="col-sm-2">
                        <img src=@routes.Assets.at("images/html-flowers-store-web-template-180303%20—%20копия.png")>
                    </div>
                    <div class="col-sm-5">
                        <ul>
                            <li>Suspendisse sapien</li>
                            <li>Ante enenatis sit ame</li>
                            <li>Lobortis onsequat of</li>
                            <li>Ulla uisque accumsm</li>
                        </ul>
                    </div>
                    <div class="col-sm-5 li1">
                        <ul>
                            <li>Nulla nisl curabitur</li>
                            <li>Aliqu tistique tortor</li>
                            <li>Aeed sollicitudin tellus</li>
                            <li>Scelerisque molestie</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="/assets/images/New.new.jpg">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <br>
            <br>
            <div class="col-sm-3">
                <img class="img-thumbnails" src="@routes.Assets.at("images/go_zalgul.jpg")">
                <button class="button1"><strong>Details</strong></button>
                <button class="button2"><strong>Buy</strong></button>
            </div>
            <div class="col-sm-3">
                <img class="img-thumbnails" src="@routes.Assets.at("images/4443554.jpg")">
                <button class="button1"><strong>Details</strong></button>
                <button class="button2"><strong>Buy</strong></button>
            </div>
            <div class="col-sm-3">
                <img class="img-thumbnails" src="@routes.Assets.at("images/16_enl_201411041354.jpg")">
                <button class="button1"><strong>Details</strong></button>
                <button class="button2"><strong>Buy</strong></button>
            </div>
            <div class="col-sm-3">
                <img class="img-thumbnails" src="@routes.Assets.at("images/images.jpg")">
                <button class="button1"><strong>Details</strong></button>
                <button class="button2"><strong>Buy</strong></button>
            </div>
        </div>

    </div>
}