@(types: List[Type])

@main("Home") {

    @navbar("listCountries")

    <div class="container main-content">

        <h1 class="text-center">Flowers type</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            @for(f_type<- types) {
                <tr>
                    <td>@f_type.name</td>
                    <td>
                        <a href="@routes.Types.showEdit(f_type.id.get)">
                            <button class="btn btn-warning">Edit</button>
                        </a>
                        <a href="@routes.Types.remove(f_type.id.get)">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
