@(flowers: List[Flowers_Type])

@main("List"){
    @navbar("list")
<div class="container">
    <h1 class="text-center">World's most beautiful flowers.</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>cost</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @for(flowerObj <- flowers) {
            <tr>
                <td><img style="width: 30%;" src="@routes.Assets.at("images/"+flowerObj.flower.imgName)" alt=""/></td>
                <td>@flowerObj.typeName</td>
                <td>@flowerObj.flower.name</td>
                <td>@flowerObj.flower.description</td>
                <td>@flowerObj.flower.cost</td>
                <td>
                    <a href="@routes.Flowers.showEdit(flowerObj.flower.id.get)">
                        <button class="btn btn-warning">Edit</button>
                    </a>
                    <a href="@routes.Flowers.remove(flowerObj.flower.id.get)">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </tr>
}
    </tbody>
    </table>
</div>
}